body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
}
#picbox {
	margin: auto;
	width: 520px;
}
#boxcard {
	z-index: 1;
    margin: auto;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid #017df1;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
    background: #999999;
	z-index: 2;
}
#boxcard div img {
	display: none;
	border-radius: 10px;
	z-index: 3;
    width: 100%;
    height: auto;
}
#boxcard div:hover{
	animation-name: pulse;
	animation-duration: 0.5s;
} 
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
    position: relative;
    top: 600px;
    left: 300px;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: #017df1;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #999;
}


/*ANIMAZIONI CSS */

@keyframes pulse {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.05, 1.05, 1.05);
	  transform: scale3d(1.05, 1.05, 1.05);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }